export DATABASE_URL="postgres://pgmonitor@localhost:5433/postgres?sslmode=verify-full&sslcert=${PWD}/local_dev/certs/client.crt&sslkey=${PWD}/local_dev/certs/client.key&sslrootcert=${PWD}/local_dev/certs/ca.crt"